.bg-light {
  background-color: #f1f1f1 !important;
}
nav {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand {
  color: #00a2e8;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
nav {
  font-size: 14px;

  .list-group-item {
    background-color: transparent;
    border-radius: 0;
  }
  .btn {
    border: solid 1px #ccc;
    padding-top: 7px;
    padding-bottom: 8px;
    border-radius: 0;
    font-size: 14px;
  }
}
.nav-link.active {
  border-top: solid 2px #3070d2 !important;
  border-bottom: 0px !important;
}
.pop-over {
  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    position: absolute;
    width: 500px;
    right: -107px;
    margin-left: auto;
  }
}
.nav-item:last-child a.nav-link {
  border-right-width: 1px;
}

.navbar-nav .nav-link {
  border-radius: 0;
  justify-content: flex-start;
  border: solid 1px #ccc;
  border-width: 1px 0 1px 1px;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
}
.navbar-nav .nav-link span {
  margin-left: 5px;
}
.nav-item > a {
  text-transform: capitalize;
  color: #212529;
}
.modal-header {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: solid 2px #d7b791;
}
.modal-dialog {
  box-shadow: -7px 6px 14px -8px black;
  border: 0 !important;
}
.modal-title {
  flex-grow: 1;
}
.breadcrum {
  font-size: 13px;
  color: #999;
  b {
    color: #333;
  }
}
.f-card {
  margin-bottom: 10px;

  .title {
    color: #999;
    display: block;
  }
}
.modal-dialog {
  min-width: 100vw;
}
.footer-head {
  position: absolute !important;
  left: 10px !important;
  background-color: #fff;
  margin-top: 11px !important;
  padding-right: 10px;
}
.modal-footer {
  justify-content: flex-start !important;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .f-col-2 {
    border-left: solid 1px #dee2e6;
    padding-left: 18px;
  }
}
@media screen and (min-width: 992px) {
  .nav-item:first-child a.nav-link {
    border-left-width: 0;
  }
  .navbar {
    border-bottom: solid 1px #ccc;
  }
  .nav-link,
  nav .btn {
    border-bottom: 0 !important;
  }
  .modal-dialog {
    position: absolute;
    right: 5px;
    top: 20px;
    min-width: 700px;
  }
}
