<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <h4 class="mb-0">Logo</h4>
  </a>
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn bg-transparent"><i class="fa fa-home"></i></button>

    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn bg-transparent dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Fredwin Cycling
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Option 1</a>
        <a class="dropdown-item" href="#">Option 2</a>
      </div>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="list-group list-group-horizontal-md navbar-nav mr-auto">
      <li class="group-item">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"><i class="fa fa-info-circle"></i> <span
                class="d-none d-md-inline-flex">Info</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"><i class="fa fa-question-circle"></i> <span
                class="d-none d-md-inline-flex">stretagy</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"><i class="fa fa-calendar-alt"></i> <span
                class="d-none d-md-inline-flex">releases</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"><i class="fa fa-lightbulb"></i> <span
                class="d-none d-md-inline-flex">ideas</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" role="tab"><i class="fa fa-th"></i> <span
                class="d-none d-md-inline-flex">features</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"><i class="fa fa-stream"></i> <span
                class="d-none d-md-inline-flex">roadmaps</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn bg-transparent"><i class="fa fa-user-circle"></i></button>
        <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#exampleModal"><i
            class="fa fa-cog"></i></button>
        <button type="button" class="btn bg-transparent"><i class="fa fa-question-circle"></i></button>
        <button type="button" class="btn bg-transparent"><i class="fa fa-search"></i></button>
        <button type="button" class="btn bg-transparent"><i class="fa fa-plus"></i></button>
      </div>
    </form>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Feature</h5>
        <div class="btn-group mr-2 mb-1" role="group" data-dismiss="modal" aria-label="Close">
          <button type="button" class="btn btn-sm btn-white"><i class="fa fa-times"></i></button>
        </div>
        <div class="btn-group mr-2 mb-1" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-sm btn-white">Details <i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <div class="flex-grow-1 breadcrum">
            <b>FRED-82</b> created by <b>Ragu</b> on Sep 20, 2020
          </div>
          <div class="btn-group mr-2 mb-1">
            <button type="button" class="btn btn-sm btn-white"><i class="fa fa-link"></i></button>
          </div>
          <div class="btn-group mr-2 mb-1">
            <button type="button" class="btn btn-sm btn-white">...</button>
          </div>
        </div>
        <h4>Heat maps</h4>
        <div class="d-block">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="f-card">
                <div class="title"><i class="fa fa-home"></i> Status</div>
                <div class="ml-4 d-inline-flex">
                  <div class="input-group-sm mr-2">
                    <select class="form-control input-color-orange" id="exampleFormControlSelect1">
                      <option>Ready to develop</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="input-group-sm">
                    <input type="email" class="form-control" disabled id="exampleFormControlInput1"
                      placeholder="Development started">
                  </div>
                </div>
              </div>
              <div class="f-card">
                <div class="title"><i class="fa fa-calendar-alt"></i> Releases</div>
                <div class="ml-4">
                  <span> FRED - IOS v4.25</span> <i class="fa fa-external-link-alt ml-4 text-primary"></i>
                </div>
              </div>
              <div class="f-card">
                <div class="title"><i class="fa fa-user"></i> Assigned to</div>
                <div class="ml-4">
                  Ragunatha Boopathy
                </div>
              </div>
              <div class="f-card">
                <div class="title"><i class="fa fa-flag"></i> Goals</div>
                <div class="ml-4">
                  <div class="card">
                    <button class="btn btn-sm btn-white m-1" style="width: 190px;" type="submit">
                      <i class="fa fa-flag text-orange"></i> largest partner ecosystem <i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="f-card">
                <div class="title"><i class="fa fa-sitemap"></i> Initiative</div>
                <div class="ml-4">
                  <button class="btn btn-sm btn-white" type="submit">
                    <i class="fa fa-sitemap text-orange"></i> Process tracking dashboard
                  </button>
                  <i class="fa fa-external-link-alt ml-4 text-primary"></i>
                </div>
              </div>
              <div class="f-card">
                <div class="title"><i class="fa fa-th"></i> Epic</div>
                <div class="ml-4">
                  FRED - Route and location traking <i class="fa fa-external-link-alt ml-4 text-primary"></i>
                </div>
              </div>
              <div class="f-card d-inline-flex">
                <div class="mr-5">
                  <div class="title"><i class="fa fa-hourglass-start"></i> Start on</div>
                  <div class="ml-4">
                    20/09/2020
                  </div>
                </div>
                <div class="">
                  <div class="title"> Due on</div>
                  <div>
                    21/09/2020
                  </div>
                </div>
              </div>
              <div class="f-card">
                <div class="title"><i class="fa fa-bars"></i> Integration
                  <div class="btn-group">
                    <button class="btn btn-transparent btn-sm dropdown-toggle text-primary" type="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Send
                    </button>
                    <div class="dropdown-menu">
                      ...
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-sm-12 col-md-6">
              <div class="f-col-2">
                <div class="f-card">
                  <div class="title"><i class="fa fa-check-circle"></i> Progress 1 <span
                      class="ml-2 text-black">|</span>
                    <div class="btn-group">
                      <button class="btn btn-transparent btn-sm dropdown-toggle text-primary" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Enter manually
                      </button>
                      <div class="dropdown-menu">
                        ...
                      </div>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="progress" style="height: 10px;">
                      <div class="progress-bar bg-success rounded-pill" role="progressbar" style="width: 67%"
                        aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    67% Completed
                  </div>
                </div>
                <div class="f-card">
                  <div class="title"><i class="fa fa-bookmark"></i> Type</div>
                  <div class="ml-4">
                    New
                  </div>
                </div>
                <div class="f-card">
                  <div class="title"><i class="fa fa-eye"></i> Watchers <span class="ml-2 text-black">|</span>
                    <div class="btn-group">
                      <button class="btn btn-transparent btn-sm dropdown-toggle text-primary" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Notify watchers
                      </button>
                      <div class="dropdown-menu">
                        ...
                      </div>
                    </div>
                  </div>
                  <div class="ml-4">
                    <i class="fa fa-user-circle text-success mr-2"></i>
                    <i class="fa fa-user-circle text-warning mr-2"></i>
                    <i class="fa fa-user-circle text-danger mr-2"></i>
                    <i class="fa fa-user-circle text-info mr-2"></i>
                  </div>
                </div>
                <div class="f-card">
                  <div class="title"><i class="fa fa-info-circle"></i> Score Info</div>
                  <div class="ml-4 text-primary">
                    19
                  </div>
                </div>
                <div class="f-card">
                  <div class="title"><i class="fa fa-tags"></i> Tags</div>
                  <div class="ml-4">
                    <button class="btn btn-sm btn-info mr-1" type="button">
                      Data <i class="fa fa-times"></i>
                    </button>
                    <button class="btn btn-sm btn-danger mr-1" type="button">
                      Maps <i class="fa fa-times"></i>
                    </button>
                    <button class="btn btn-sm btn-pink" type="button">
                      synchronize <i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="f-card">
                  <div class="title"><i class="fa fa-clock"></i> Remaining <span class="ml-2 text-black">|</span> <span
                      class="text-primary ml-2">Log time</span> </div>
                  <div class="ml-4">
                    5d
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-block border-top">
          <p class="mt-2 mb-1">Provide heatmaps to all-levels of riders asynchronizing the data and selling it to cities for better city
            planing</p>
            <div class="f-card d-inline-flex">
              <div class="title mr-4"><i class="fa fa-vector-square"></i> Create mockup</div>
              <div class="title"><i class="fa fa-paperclip"></i> Attach files </div>
            </div>
        </div>
          <h5 class="footer-head">Record links <i class="fa fa-plus-circle text-gray"></i> </h5>
        <div class="modal-footer mt-4">
          Belongs to initiative <i class="fa fa-sitemap text-danger"></i> <span class="text-primary"> Progress tracking dashboard</span>
        </div>
      </div>
    </div>
  </div>
