
    <app-header></app-header>


    <div class="main-container">
      <div class="d-flex">
        <h4>Features Board
          <button class="btn btn-primary mr-2" type="submit">Add feature</button>
          <button class="btn btn-outline-primary" type="submit">Add release</button>
        </h4>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="btn-group mr-2 mb-1" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-white dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-poll-h"></i> Board
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Option 1</a>
              <a class="dropdown-item" href="#">Option 2</a>
            </div>
          </div>

          <div class="btn-group mr-2 mb-1" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-sm btn-white">Epics</button>
            <button type="button" class="btn btn-sm btn-white">Feature</button>
          </div>

          <div class="btn-group mr-2 mb-1" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-sm btn-white"><i class="fa fa-th-large"></i></button>
            <button type="button" class="btn btn-sm btn-white"><i class="fa fa-th"></i></button>
          </div>

          <div class="btn-group mr-2 mb-1" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-sm btn-white"><i class="fa fa-cog"></i></button>
          </div>

          <div class="btn-group mr-2 mb-1">
            <button class="btn btn-white btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Releases: parking lot, IOS 4.5, process..
            </button>
            <div class="dropdown-menu">
              ...
            </div>
          </div>

          <div class="btn-group mr-2 mb-1" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-sm btn-white"><i class="fa fa-filter"></i></button>
          </div>

          <div class="btn-group mr-2 mb-1" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-sm btn-white"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12" style="width: 100vw; overflow-y: scroll">
          <app-board></app-board>
        </div>
      </div>
    </div>
