.list {
  width: 300px;
  margin-right: 20px;
}
.list:last-child {
  margin-right: 0;
}
.card {
  padding: 10px 8px;
  border-left-width: 3px;
  margin-bottom: 12px;
}
.epic {
  border: solid 1px #ddd;
  border-bottom: 0;
  margin: 0 5px;
  padding: 5px;
  border-radius: 4px 4px 0 0;
}
