@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  font-size: 14px;
}

.btn-white {
  border: solid 1px #cccccc !important;
}
.modal-backdrop.show {
  opacity: 0 !important;
}
.input-color-orange {
  border: solid 1px #e0af80 !important;
  background-color: #f8d9bc !important;
}
.text-orange {
  color: #e0af80 !important;
}
.text-black {
  color: #000000 !important;
}
.text-gray {
  color: #999 !important;
}
.btn-pink {
  color: #fff !important;
  background-color: #da61ca !important;
  border-color: #da61ca !important;
}
.btn-purple {
  color: #fff !important;
  background-color: #9a6bc9 !important;
  border-color: #9a6bc9 !important;
}

.bg-orange {
  border-color: #ecbf96 !important;
  background-color: #feeddd !important;
}
.bg-green {
  border-color: #8caa6a !important;
  background-color: #dee8d0 !important;
}
.bg-blue {
  border-color: #96bed1 !important;
  background-color: #e0eef1 !important;
}
.bg-yellow {
  border-color: #e2e0af !important;
  background-color: #f7f8e6 !important;
}
.bg-gray {
  border-color: #e0e0e0 !important;
  background-color: #f7f7f7 !important;
}
